<template>
  <div>
    <p>Caleb is a good boy.</p>
    <p>My Daddy is a good worker and he is working hard.</p>
    <div class="box">
      <figure class="image is-128x128s">
        <img :src="lexi" height="128" width="128">
      </figure>
      <p class="has-text-centered">Lexi Vang is a good girl</p>
    </div>
  </div>
</template>

<script>
import lexi from 'images/IMG_0724.png'
  export default {
    data: function () {
      return {
        lexi: lexi
      }
    }

  }
</script>

<style>

</style>
