<template>
  <div id="sign-up">
    <modal title="Evento" :width="640" :backdrop="true" :is-show="isShow" transition="bounce" @close="isShow=false" :showCancel="false">
      <registrationForm :form="form"></registrationForm>
      <div slot="footer">
        <a class="button is-primary" :class="{'is-loading': isLoading}" @click="registerUser" :disabled="formErrors || formEmpty || registering">{{ registerText }}</a>
      </div>
    </modal>
    <button @click="toggle" class="button is-primary is-medium">Register</button>
  </div>
</template>

<script>
import VueBlu from 'vue-blu'
import registrationForm from 'components/registration/registrationForm'
import _ from 'lodash'

export default {
  name: 'registrationModal',
  data: function() {
    return {
      isShow: false,
      isLoading: false,
      registerText: "Register",
      registering: false,
      showOk: {
        type: Boolean,
        default: true,
      },
      form: {},
      emptyForm: {}
    }
  },
  components: { registrationForm },
  methods: {
    toggle() {
      this.isShow = !this.isShow;
    },
    okCb() {
      this.$notify.open({
        type: 'success',
        title: `ok回调`,
      });
    },
    cancelCb() {
      this.$notify.open({
        type: 'success',
        title: `cancel回调`,
      });
    },
    okCloseCb() {
      setTimeout(() => {
        this.toggle();
      }, 2000);
    },
    registerUser() {
      this.registering = true;
      this.$store.dispatch('User/REGISTER', this.parsedForm).then(() => {
        this.$router.push({ name: 'main'});
      });
      this.reset();
    },
    reset() {
      this.isShow = false;
      this.isLoading = false;
      this.registering = false;
      this.form = this.emptyForm;
    }
  },
  computed: {
    formErrors: function () {
      return _.some(_.values(this.form.errors), function (val) { return val == true; })
    },
    formEmpty() {
      return (this.form.email.trim().length === 0) || !this.form.password || !this.form.confirmPassword || !this.form.toc;
    },
    parsedForm() {
      const form = this.form;
      return {
        password: form.password,
        email: form.email
      };
    }
  },
  created() {
    this.form = {
      password: '',
      email: '',
      confirmPassword: '',
      toc: false,
      errors: {
        email: false,
        password: false,
      }
    }
    this.emptyForm = Object.assign(this.emptyForm, this.form);
  }
}
</script>

<style lang="sass">
</style>
