<template>
  <div id="registration-form">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input v-model="form.email" :class="emailStatus" class="input" type="email">
      </div>
      <p v-if="validatingEmail" class="help is-info">Validating Username</p>
      <p v-if="!emailAvailable" class="help is-danger">This username is unavailable</p>
      <p v-if="!validEmail" class="help is-danger">Email is invalid</p>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input v-model="form.password" :class="passwordStatus" class="input" type="password">
      </div>
    </div>
    <div class="field">
      <label class="label">Confirm Password</label>
      <div class="control">
        <input v-model="form.confirmPassword" :class="passwordStatus" class="input" type="password">
      </div>
      <p v-if="!passwordsAreSame && this.passwordsNotEmpty" class="help is-danger">Passwords do not match</p>
      <p v-if="!passwordsMinimumEigthCharacters && this.passwordsNotEmpty" class="help is-danger">Minimum eight characters</p>
    </div>
    <div class="field">
      <label class="label">Terms of Condition</label>
      <div class="control">
        <textarea class="textarea" placeholder="Textarea"></textarea>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input v-model="form.toc" type="checkbox">
          I agree to the <a href="#">terms and conditions</a>
        </label>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
// todo: decouple lodash import from this component into hello_vue.js

export default {
  props: ['form'],
  data() {
    return {
      validatingEmail: false,
      emailAvailable: true,
      validEmail: true
    }
  },
  methods: {
    validateEmail: _.debounce(function () {
      const email = this.form.email;
      let matcher = this.form.email.match(/\w+@\w+\.\w+/)
      if (matcher && matcher.length > 0) {
        this.validEmail = true;
        this.form.errors.email = false;
        this.$store.dispatch('User/USER_USERNAME_AVAILABLE', { email })
        .then((data) => {
          this.validatingEmail = false;
          if (data.available) {
            this.emailAvailable = true;
            this.form.errors.email = false;
            this.usernameBlank = false;
          } else {
            this.emailAvailable = false;
            this.form.errors.email = true;
          }
        });
      } else {
        this.validatingEmail = false;
        this.validEmail = false;
        this.form.errors.email = true;
      }
    }, 500),
    validatePasswords: _.debounce(function() {
      if (this.passwordsAreSame && this.passwordsMinimumEigthCharacters) {
        this.form.errors.password = false;
      } else {
        this.form.errors.password = true;
      }
    }, 1000)
  },
  watch: {
    'form.email': function (val) {
      if (val !== undefined && val.trim().length > 0) {
        this.validatingEmail = true
        this.validateEmail();
      } else {
        this.emailAvailable = true;
        this.validatingEmail = false;
        this.validEmail = true;
      }
    },
    'form.password': function (val) {
      if (this.form.confirmPassword.trim().length > 0) {
        this.validatePasswords();
      }
    },
    'form.confirmPassword': function (val) {
      if (this.passwordsNotEmpty) {
        this.validatePasswords();
      }
    }
  },
  computed: {
    passwordStatus: function () {
      return {
        'is-success': !this.form.errors.password && this.passwordsNotEmpty,
        'is-danger': this.form.errors.password
      }
    },
    emailStatus: function () {
      return {
        'is-success': this.form.email !== undefined && this.form.email.trim().length > 0 && this.emailAvailable,
        'is-danger': !this.emailAvailable || !this.validEmail
      }
    },
    passwordsMinimumEigthCharacters: function () {
      return (this.form.password.length >= 8 && this.form.confirmPassword.length >= 8);
    },
    validPasswords: function () {
      return this.passwordsAreSame && this.passwordsMinimumEigthCharacters && this.passwordsNotEmpty;
    },
    passwordsNotEmpty: function () {
      return this.form.password.trim().length > 0 && this.form.confirmPassword.trim().length > 0;
    },
    passwordsAreSame: function () {
      return this.form.password == this.form.confirmPassword;
    },
  }
}
</script>

<style lang="sass">
  #registration-form div.field
    margin: .5rem .5rem
</style>
