<template>
  <div class="section heading has-text-centered">
    <div class="container is-12">
      <router-link :to="{name: 'main'}"><h1 class="title is-1">Evento</h1></router-link>
      <h2 class="subtitle">simplify the way you handle events</h2>
    </div>
    <div class="container is-12" v-if="!token">
      <div class="is-pulled-right">
        <loginAside></loginAside>
      </div>
    </div>
    <div class="container is-12" v-else>
      <div class="is-pulled-right">
        <button @click="logout" class="button">Logout</button>
      </div>
    </div>
    </div>
  </div>
</template>

<script>
import loginAside from 'components/login/login-aside'
import { mapState } from 'vuex'

export default {
  name: 'brand',
  data: function () {
    return {
    }
  },
  components: { loginAside },
  computed: {
    ...mapState('Auth', ['token'])
  },
  methods: {
    logout() {
      this.$store.dispatch('Auth/AUTH_LOGOUT').then(() => {
        this.$router.push({name: 'main'})
      })
    }
  }
}
</script>

<style lang="sass">
</style>
