<template lang="html">
  <transition name="zoom">
    <section id="forgot-section" class="section box">
      <div class="forgot-form container">
        <div class="columns">
          <div class="column">
            <p>Which did you forget?</p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <radio-group v-model="forgotType">
              <radio val="username" icon="user">Username</radio>
              <radio val="password" icon="unlock">Password</radio>
            </radio-group>
          </div>
          <div class="column is-pulled-left">
            <tooltip content="Receive email recovery options for the following" placement="topLeft">
              <p>
                <span><i style="color: #FDC262; font-size: 1.3rem;"class="fa fa-question-circle"></i></span>
              </p>
            </tooltip>
          </div>
        </div>
        <div class="container" v-show="forgotType">
          <div class="field">
            <p class="control has-icon has-addons">
              <input v-model="recoveryEmail" class="input" type="email" placeholder="email">
              <i class="fa fa-envelope"></i>
              <a class="button is-primary" :class="{'is-loading': sending ? true : false}" :disabled="sending" @click="processRecovery">Recover</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </transition>
</template>

<script>
export default {
  name: 'forgot',
  data: function () {
    return {
      forgotType: "",
      sending: false,
      recoveryEmail: ''
    }
  },
  methods: {
    isUsername() {
      return this.forgotType == 'username' ? true : false;
    },
    processRecovery() {
      this.sending = true;
      this.sendRecovery();
    },
    sendRecovery() {
      let that = this;
      setTimeout(function () {
        that.$notify.open({
          content: 'Sending recovery options to email: ' + that.recoveryEmail,
          icon: 'smile-o',
          placement: 'top-center',
          transition: 'bounce',
          type: 'warning',
        });
        that.$emit('closeAside');
        that.$emit('closeForgot');
        that.clearForgot()
      }, 5000)
    },
    clearForgot() {
      this.sending = false;
      this.forgotType = '';
      this.recoveryEmail = '';
    }
  }
}
</script>

<style lang="sass">
  @import 'app/assets/stylesheets/variables.scss'
  #forgot-section
    margin-top: 2rem
  .forgot-form .container
    padding: 1rem
</style>
