<template lang="html">
  <div>
    <button @click="toggleRight" class="button" type="button" name="button">Login</button>
    <b-aside :is-show="isShowRight" title="Login" placement="right" :show-footer="false" :backdrop="true" @close="isShowRight=false">
      <div id="login-form">
        <div class="field">
          <p class="control has-icon">
            <input v-model="user.username" class="input" type="email" placeholder="Email / Username">
            <i class="fa fa-user"></i>
          </p>
        </div>
        <div class="field">
          <p class="control has-icon">
            <input v-model="user.password" class="input" type="password" placeholder="Password">
            <i class="fa fa-lock"></i>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button @click="login" class="button is-success">Login</button>
          </p>
        </div>
        <div class="field">
          <a @click="toggleForgot" class="control">Forgot Username/Password</a>
        </div>
        <forgotUserPass v-show="showForgot" v-on:closeAside="closeAside" :asideOpened="isShowRight" v-on:closeForgot="closeForgot"></forgotUserPass>
      </div>
    </b-aside>
  </div>
</template>

<script>
import forgotUserPass from 'components/login/forgot_user_pass'

export default {
  name: 'login-aside',
  data: function () {
    return {
      isShowRight: false,
      showForgot: false,
      user: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    toggleRight() {
      this.isShowRight = !this.isShowRight;
    },
    toggleForgot() {
      this.showForgot = !this.showForgot;
    },
    closeAside() {
      this.isShowRight = false;
    },
    closeForgot() {
      this.showForgot = false;
    },
    login() {
      const {username, password} = this.user;
      this.$store.dispatch('Auth/AUTH_REQUEST', { username, password }).then(() => {
        this.$router.push({name: 'Test'});
      })
    }
  },
  components: { forgotUserPass }
}
</script>

<style lang="sass">
  #login-form div.field
    margin: .5rem .5rem

</style>
