<template>
  <div class="main">
    <section class="section" id="sypnosis">
      <div class="container">
        <div class="columns">
          <div class="column">
          </div>
          <div class="column">
            <div class="box">
              <figure class="image is-128x128s">
                <createSvg></createSvg>
              </figure>
              <h1 class="has-text-centered">create an event</h1>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <figure class="image is-128x128s">
                <manageSvg></manageSvg>
              </figure>
              <p class="has-text-centered">manage an event</p>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <figure class="image is-128x128s">
                <shareSvg></shareSvg>
              </figure>
              <p class="has-text-centered">share an event</p>
            </div>
          </div>
          <div class="column">
          </div>
        </div>
      </div>
    </section>
    <div class="register has-text-centered">
      <registrationModal></registrationModal>
    </div>
  </div>
</template>

<script>
  import registrationModal from 'components/registration/registrationModal'
  import createSvg from 'components/svg/create_svg'
  import manageSvg from 'components/svg/manage_svg'
  import shareSvg from 'components/svg/share_svg'

  export default {
    data: function () {
      return {}
    },
    components: { registrationModal, createSvg, manageSvg, shareSvg }
  }
</script>

<style lang="sass">
  #sypnosis
    padding: 2.5rem
</style>
