<template lang="html">
  <div class="">
    <svg viewBox="0 0 305 273" preserveAspectRatio="xMidYMid meet">
      <g id="SvgjsG1008" rel="mainfill" name="symbol" feature="symbol" xmlns:name="symbol_mainfill" fill="#fdc262" transform="translate(0, -17.40000009536743) scale(5)">
        <title>adjust-i</title>
        <path
          d="M8.8 6.48c-3.189 0-5.8 2.611-5.8 5.8v39.44c0 3.19 2.611 5.8 5.8 5.8h46.4c3.19 0 5.8-2.611 5.8-5.8v-39.44c0-3.189-2.611-5.8-5.8-5.8zM8.8 8.8h46.4c1.936 0 3.48 1.544 3.48 3.48v39.44c0 1.936-1.544 3.48-3.48 3.48h-46.4c-1.936 0-3.48-1.544-3.48-3.48v-39.44c0-1.936 1.544-3.48 3.48-3.48z"></path>
        <path d="M17.204 19.24c-0.005-0-0.011-0-0.016-0-0.641 0-1.16 0.519-1.16 1.16s0.519 1.16 1.16 1.16c0.006 0 0.012-0 0.017-0h29.59c0.005 0 0.011 0 0.016 0 0.641 0 1.16-0.519 1.16-1.16s-0.519-1.16-1.16-1.16c-0.006 0-0.011 0-0.017 0h0.001z"></path>
        <path
          d="M23.579 15.744c-0.633 0.010-1.143 0.525-1.143 1.16 0 0.006 0 0.011 0 0.017v-0.001 6.96c-0 0.005-0 0.011-0 0.016 0 0.641 0.519 1.16 1.16 1.16s1.16-0.519 1.16-1.16c0-0.006-0-0.012-0-0.017v0.001-6.96c0-0.005 0-0.010 0-0.016 0-0.641-0.519-1.16-1.16-1.16-0.006 0-0.012 0-0.018 0h0.001z"></path>
        <path d="M17.204 42.44c-0.005-0-0.011-0-0.016-0-0.641 0-1.16 0.519-1.16 1.16s0.519 1.16 1.16 1.16c0.006 0 0.012-0 0.017-0h29.59c0.005 0 0.011 0 0.016 0 0.641 0 1.16-0.519 1.16-1.16s-0.519-1.16-1.16-1.16c-0.006 0-0.011 0-0.017 0h0.001z"></path>
        <path
          d="M35.746 38.944c-0.633 0.010-1.142 0.526-1.142 1.16 0 0.006 0 0.011 0 0.017v-0.001 6.96c-0 0.005-0 0.011-0 0.016 0 0.641 0.519 1.16 1.16 1.16s1.16-0.519 1.16-1.16c0-0.006-0-0.011-0-0.017v0.001-6.96c0-0.005 0-0.010 0-0.016 0-0.641-0.519-1.16-1.16-1.16-0.006 0-0.013 0-0.019 0h0.001z"></path>
        <path d="M17.204 30.84c-0.005-0-0.011-0-0.016-0-0.641 0-1.16 0.519-1.16 1.16s0.519 1.16 1.16 1.16c0.006 0 0.012-0 0.017-0h29.59c0.005 0 0.011 0 0.016 0 0.641 0 1.16-0.519 1.16-1.16s-0.519-1.16-1.16-1.16c-0.006 0-0.011 0-0.017 0h0.001z"></path>
        <path
          d="M21.839 27.344c-0.633 0.010-1.143 0.525-1.143 1.16 0 0.006 0 0.011 0 0.017v-0.001 6.96c-0 0.005-0 0.011-0 0.016 0 0.641 0.519 1.16 1.16 1.16s1.16-0.519 1.16-1.16c0-0.006-0-0.011-0-0.017v0.001-6.96c0-0.005 0-0.010 0-0.016 0-0.641-0.519-1.16-1.16-1.16-0.006 0-0.012 0-0.018 0h0.001z"></path>
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  name: "manage"
}
</script>

<style lang="css">
</style>
