<template lang="html">
  <div>
    <svg class="undefined logo" viewBox="0 0 255 245" preserveAspectRatio="xMidYMid meet">
      <g id="SvgjsG1008" rel="mainfill" name="symbol" feature="symbol" xmlns:name="symbol_mainfill" fill="#e19e94" transform="translate(15.002390025183558, 8.920000791549683) scale(5)">
        <g>
          <path d="M40.676,46.784H9.016c-0.457,0-0.855-0.31-0.969-0.752L0.031,14.771c-0.137-0.535,0.186-1.08,0.72-1.217   c0.537-0.138,1.08,0.186,1.217,0.72l7.823,30.511h30.884c0.553,0,1,0.447,1,1S41.229,46.784,40.676,46.784z"></path>
          <g>
            <path
              d="M44.9,34.484H32.814c-1.709,0-3.1-1.39-3.1-3.099V11.054c0-1.708,1.391-3.098,3.1-3.098H44.9c1.709,0,3.1,1.39,3.1,3.098    v20.332C48,33.095,46.609,34.484,44.9,34.484z M32.814,9.956c-0.606,0-1.1,0.493-1.1,1.098v20.332c0,0.605,0.493,1.099,1.1,1.099    H44.9c0.606,0,1.1-0.493,1.1-1.099V11.054c0-0.605-0.493-1.098-1.1-1.098H32.814z"></path>
            <path d="M46.732,28.773h-15.75c-0.553,0-1-0.447-1-1s0.447-1,1-1h15.75c0.553,0,1,0.447,1,1S47.285,28.773,46.732,28.773z"></path>
            <path d="M40.746,31.482h-3.775c-0.553,0-1-0.447-1-1s0.447-1,1-1h3.775c0.553,0,1,0.447,1,1S41.299,31.482,40.746,31.482z"></path>
          </g>
          <path
            d="M15.058,11.158l-1.708-1.04c0.364-0.599,0.769-1.185,1.201-1.739l1.577,1.229C15.743,10.103,15.383,10.624,15.058,11.158z    M17.371,8.19l-1.427-1.401c0.492-0.5,1.018-0.979,1.565-1.421l1.258,1.555C18.279,7.318,17.809,7.744,17.371,8.19z M20.297,5.824   l-1.072-1.688c0.592-0.376,1.212-0.723,1.844-1.03l0.875,1.799C21.379,5.179,20.826,5.488,20.297,5.824z M36.535,4.867   c-0.561-0.271-1.146-0.515-1.741-0.723l0.662-1.888c0.665,0.234,1.321,0.506,1.95,0.81L36.535,4.867z M23.684,4.178l-0.666-1.886   c0.659-0.232,1.341-0.431,2.028-0.589l0.449,1.949C24.882,3.794,24.272,3.971,23.684,4.178z M32.983,3.625   c-0.608-0.138-1.234-0.243-1.859-0.311l0.219-1.988c0.699,0.077,1.399,0.194,2.082,0.348L32.983,3.625z M27.356,3.33l-0.232-1.986   c0.696-0.082,1.405-0.125,2.106-0.128l0.01,2C28.613,3.218,27.979,3.256,27.356,3.33z"></path>
          <path
            d="M10.252,28.318c-0.145,0-0.292-0.031-0.432-0.098c-0.498-0.239-0.708-0.836-0.47-1.334   c0.738-1.541,0.831-3.277,0.263-4.888s-1.73-2.905-3.271-3.643c-0.498-0.238-0.709-0.835-0.47-1.333   c0.238-0.499,0.837-0.709,1.333-0.47c2.023,0.968,3.548,2.667,4.294,4.782c0.746,2.115,0.623,4.394-0.346,6.416   C10.983,28.109,10.625,28.318,10.252,28.318z"></path>
          <path
            d="M14.729,30.463c-0.145,0-0.292-0.031-0.432-0.098c-0.498-0.239-0.708-0.836-0.47-1.334c1.311-2.737,1.477-5.82,0.468-8.683   s-3.072-5.16-5.809-6.47c-0.498-0.238-0.709-0.835-0.47-1.333c0.238-0.499,0.837-0.709,1.333-0.47   c3.219,1.541,5.645,4.243,6.832,7.608c1.187,3.366,0.991,6.992-0.55,10.211C15.46,30.254,15.102,30.463,14.729,30.463z"></path>
        </g>
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  name: "share"
}
</script>

<style lang="css">
</style>
