<template>
  <div id="brand" class="hero">
    <brand></brand>
    <router-view></router-view>
  </div>
</template>

<script>
import brand from 'components/header/brand'

export default {
  data: function () {
    return {
      message: "Hello Vue!",
      register: false
    }
  },
  components: { brand }
}
</script>

<style lang="sass">
  @import 'app/assets/stylesheets/variables.scss'
  #brand
   padding: 2.5rem
</style>
