<!DOCTYPE html>
<html>
  <head>
    <title>Calevents</title>
    <%= csrf_meta_tags %>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css"> -->
    <!-- <%= javascript_include_tag("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js") %> -->
    <%= javascript_include_tag("https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js") %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'hello_vue' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
    <router-view></router-view>
    </div>
  </body>
</html>
